<section id="faq" class="faq">
    <div class="container">

      <div class="section-title">
        <h2>Frequenty Asked Questions</h2>
      </div>

      <ul class="faq-list">

        <li>
          <a data-toggle="collapse" class="collapsed" href="#faq1">Is Arxiv Notifier Free for All? <i class="bx bx-down-arrow-alt icon-show"></i><i class="bx bx-x icon-close"></i></a>
          <div id="faq1" class="collapse" data-parent=".faq-list">
            <p>
              Yes, it's absolutely free for all.
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq2" class="collapsed">Is Arxiv Notifier Open Source Project? <i class="bx bx-down-arrow-alt icon-show"></i><i class="bx bx-x icon-close"></i></a>
          <div id="faq2" class="collapse" data-parent=".faq-list">
            <p>
              Yes, here is the <a href="https://github.com/porimol/arxiv-notifier" target="__blank">github</a> repo.
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq3" class="collapsed">How Can I contribute? <i class="bx bx-down-arrow-alt icon-show"></i><i class="bx bx-x icon-close"></i></a>
          <div id="faq3" class="collapse" data-parent=".faq-list">
            <p>
              Yes, you can. For details <a href="https://github.com/porimol/arxiv-notifier" target="__blank">github</a> repo.
            </p>
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq4" class="collapsed">Can I unsubscriobe at any time? <i class="bx bx-down-arrow-alt icon-show"></i><i class="bx bx-x icon-close"></i></a>
          <div id="faq4" class="collapse" data-parent=".faq-list">
            <p>
              Yes, you can unsubscriobe whenever you wish.
            </p>
          </div>
        </li>

      </ul>

    </div>
  </section>