{% extends "layout.html" %}

{% block body %}

{% endblock %}

{% block landing_body %}
<main id="main">

    <!-- ======= About Section ======= -->
    {% include 'about.html' %}
    <!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    {% include 'why-us.html' %}
    <!-- End Why Us Section -->

    <!-- ======= Frequenty Asked Questions Section ======= -->
    {% include 'faq.html' %}
    <!-- End Frequenty Asked Questions Section -->

    <!-- ======= Contact Us Section ======= -->
    {% include 'contact.html' %}
    <!-- End Contact Us Section -->
</main>
<!-- End #main -->
{% endblock %}
