
<header id="header">
    <div class="container-fluid">

        <div class="logo float-left">
        <h1 class="text-light"><a href="/"><span>Arxiv Notifier</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href=""><img src="{{ url_for('static', filename='img/logo.png') }}" alt="" class="img-fluid"></a> -->
        </div>

        <button type="button" class="nav-toggle"><i class="bx bx-menu"></i></button>
        <nav class="nav-menu">
        <ul>
            <li class="active"><a href="/#header">Home</a></li>
            <!-- <li><a href="#about">About Us</a></li>
            <li><a href="#why-us">Why Arxiv Notifier</a></li> -->
            <li><a href="/#faq">FAQs</a></li>
            <li><a href="/#contact">Contact Us</a></li>
        </ul>
        </nav><!-- .nav-menu -->

    </div>
</header>